*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    outline: none;
}
body{
    width: 100%;
    background-color: #f0f0f0;
}  
form{
    background-color: #fff;
    position: absolute;
    width: 320px;
    height: 290px;
    padding: 10px 5px 20px 5px;
    margin: -10vh 850px;
    border-radius: 5px;
    box-shadow: 5px 5px 6px -7px;
    top: 200px;
}
input [type='text'],[type='password']{
    display: block;
    background-color: #fff;
    margin: auto;
    border: 1.5px solid rgb(200, 200, 200);
    width: 200px;
    padding: 10px 40px;
    border-radius: 5px;
    text-align: center;
    color: #000;
    font-family: 'sogoe UI';
    font-size: 15px;
    margin-top: 50px;
}

/* input[type='password']{
    display: block;
    background-color: #fff;
    margin: auto;
    border: 1.5px solid rgb(200, 200, 200);
    width: 200px;
    padding: 10px 40px;
    border-radius: 5px;
    text-align: center;
    color: #000;
    font-family: 'sogoe UI';
    font-size: 15px;
} */
button{
    border: none;
    background-color: #1877f2;
    color: #fff;
    margin: auto;
    width: 283px;
    display: block;
    border-radius: 5px;
    padding: 10px 0;
    font-weight: bold;
    cursor: pointer;
    
}
.f-pas{
    display: block;
    width: 200px;
    margin: auto;
    color: #1877f2;
    padding-left: 80px;
    font-family: 'sogoe UI';
    font-weight: 400;
}
.line{
    border-top: 1px solid black;
    opacity: 0.2;
    
}
.btn{
    width: 180px;
    font-size: 14px;
    background-color: #42b72a;
    text-align: center;
}
.sub-link h3{
    width: 270px;
    top: 80px;
    position: relative;
    color: #000;
    font-family: 'sogoe UI' Arial;
    padding: 130px 890px;
    font-size: 14px;
    font-weight: 600;
}
.sub-link h3 {
    color: #000;
    font-size: 17px;
}
.sub-link h3 a{
    color: #1877f2;
    font-weight: bold;
    font-size: 20px;
}
.header h1{
    display: flex;
    font-size: 50px;
    margin-left: 15%;
    margin-top: 140px;
    font-size: 83px;
    color: #1877f2;
}
.header p{
    margin-left: 10%;
    font-size: 23px;
}